<section class="orders-show">

  <header class="page-header">
    
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you <%= @order.line_items[0].order.email%> for your order!</h4>
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Quantity</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        <%= render 'order' %>
        <tr>
          <th colspan="3">Order Total:</th>
          <th><%= humanized_money_with_symbol @sum /100.00 %></th>
        </tr>
      </tbody>
    </table>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
